@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 4 Assignment";
}

<!--Header with name-->
<h1>Caleb</h1>

<!--An image of me squatting-->
<img id="calebSquat" src="img/squatting.jpg" />

<!--Paragraph of what I hope to get out of the class-->
<p>I hope to gain a good understanding of a strongly typed progamming language. I don't think I can learn it perfectly. But I can try to understand agreat amount to gain me an internship.</p>

<!--Personal style with the list of what I want to do-->
<ol class="rainbow-text">
    <li>Technical Analysts Business Analysts</li>
    <li>Data Engineer/Architect</li>
    <li>Software Engineer</li>
</ol>
